:root {
    --universal-margin: 0px !important;
    --universal-height: 100vh;
    --universal-width: 100vw;
    --universal-center-text: center;
    --large-font: 85px;
    --medium-font: 50px;
    --small-font: 30px;
    --tiny-font: 18px;
    --font-avenir: Avenir;
    --font-dosis: 'Dosis';
    --font-roboto: 'Roboto Mono';
    --font-kalam: 'Kalam';
    --font-abril-fatface: 'Abril Fatface';
    --font-press-start: 'Press Start 2P';
    --enter-bg-color: #5BA46B;
    --enter-text-color: #A45B94;
    --enter-border: 10px solid var(--enter-text-color);
    --home-bg-color: #5947B8;
    --home-text-color: #A6B847;
    --home-border: 10px solid var(--home-text-color);
    --portfolio-bg-color: #9D6279;
    --portfolio-text-color: #629D86;
    --portfolio-border: 10px solid var(--portfolio-text-color);
    --contact-bg-color: #CA357F;
    --contact-text-color: #35CA80;
    --contact-border: 10px solid var(--contact-text-color);
    --form-bg-color: #DA252E;
    --form-text-color: #25DAD1;
    --form-border: 10px solid var(--form-text-color);
    --about-bg-color: #1D52E2;
    --about-text-color: #E2AD1D;
    --about-border: 10px solid var(--about-text-color);
}

body {
    font-family: var(--font-avenir);
    margin: var(--universal-margin);
    min-width: 500px !important;
    height: 100vh;
}

.centered {
    font-size: var(--medium-font);
    text-align: var(--universal-center-text);
}