.homeNav {
    background-color: var(--home-bg-color);
    border: var(--home-border);
    color: var(--home-text-color);
    font-family: var(--font-dosis);
}

.home {
    background-color: var(--home-bg-color);
    color: var(--home-text-color);
    font-family: var(--font-dosis);
    height: 100vh;
}

.portfolio {
    background-color: var(--home-bg-color);
    border: var(--home-border);
    color: var(--home-text-color);
    cursor: pointer;
    font-size: var(--large-font);
}

img {
    height: auto;
    width: 510px;
    margin-bottom: 50px;
}