@media (min-width: 768px) {
    #about #navbar {
        background-color: var(--about-bg-color);
        border: var(--about-border);
        color: var(--about-text-color);
        font-family: var(--font-oldenburg);
        cursor: pointer;
        font-size: var(--large-font);
        text-align: center;  /* Had to do it this way because Microsoft Edge is horrible */
    }

    #about {
        height: 100%;
        background-color: var(--about-bg-color);
    }
    .contain {
        margin: 0;
        background-color: var(--about-bg-color);
        color: var(--about-text-color);
        font-family: var(--font-oldenburg);
    }
    .large {
        font-size: 60px;
        padding: 0px !important;
    }
    
    .some-margin {
        font-size: 44px;
        margin: 0px 200px;
        padding: 10px;
    }
    
    .about-link {
        font-size: 30px;
        padding: 0px !important;
        color: var(--about-text-color);
    }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 767px) {
    #about #navbar {
        display:none;
    }
}