/* Extra small devices (phones, 600px and down) */
@media (max-width: 767px) {
    .linkContainer {
        background-color: var(--portfolio-bg-color);
        border: var(--portfolio-border);
        color: var(--portfolio-text-color);
        height: auto;
        font-family: var(--font-roboto);
        padding: 20px;
        width: auto;
    }
    
    .image {
        background-color: var(--portfolio-bg-color);
        border: var(--portfolio-border);
        display: inline-block;
        padding: 20px;
        margin: 10px 10px;
    }
    
    .codepen {
        background-color: var(--portfolio-bg-color);
        border: var(--portfolio-border);
        color: var(--portfolio-text-color);
        font-size: var(--medium-font);
        font-family: var(--font-roboto);
    }
    .contain {
        margin: 0;
        background-color: var(--about-bg-color);
        color: var(--about-text-color);
        font-family: var(--font-kalam);
        height: 100%;
    }
    .large {
        font-size: 30px;
        padding: 0px !important;
    }
    
    .some-margin {
        font-size: 24px;
        margin: 0px 100px;
        padding: 10px;
    }
    
    .about-link {
        font-size: 30px;
        padding: 0px !important;
        color: var(--about-text-color);
    }
    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
      
    form {
        position: relative;
        max-width: 300px;
        margin: 0px auto;
        padding: 10px 20px;
        background: transparent;
        color: var(--form-text-color);
        font-family: var(--font-abril-fatface);
        font-size: 30px;
        max-width: 480px;
        z-index: 999;
    }
      
    input[type="text"],
    input[type="email"],
    textarea,
    select {
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    }
    
    .submit {
        padding: 19px 39px 18px 39px;
        color: #FFF;
        cursor: pointer;
        background-color: #29D6C1;
        font-size: 30px;
        font-family: var(--font-abril-fatface);
        text-align: center;
        font-style: normal;
        width: 100%;
        border: 1px solid black;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        margin-bottom: 10px;
    }
    
    .reset {
        padding: 19px 39px 18px 39px;
        color: #FFF;
        cursor: pointer;
        background-color: #D6293E;
        font-size: 30px;
        text-align: center;
        font-style: normal;
        font-family: var(--font-abril-fatface);
        width: 100%;
        border: 1px solid black;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    }
    
    fieldset {
        border: none;
    }
    
    .formContainer {
        background-color: var(--form-bg-color);
        color: var(--form-text-color);
        height: 100vh;
    }
}