.contactNav {
    background-color: var(--contact-bg-color);
    border: var(--contact-border);
    color: var(--contact-text-color);
    font-family: 'Raleway';
}

.contact {
    background-color: var(--contact-bg-color);
    color: var(--contact-text-color);
    font-size: var(--large-font);
    height: 100vh;
    padding-top: 150px;
    font-family: 'Raleway';
}

.float-right {
    float: right;
    padding: 0px !important;
}

a {
    text-decoration: none;
}