.contactNav {
    background-color: var(--contact-bg-color);
    border: var(--contact-border);
    color: var(--contact-text-color);
    font-family: var(--font-press-start);
    font-size: var(--small-font);
    padding: 50px;
    cursor: pointer;
}

.contact {
    background-color: var(--contact-bg-color);
    color: var(--contact-text-color);
    font-size: var(--medium-font);
    height: 100vh;
    padding-top: 150px;
    font-family: var(--font-press-start);
}

.float-right {
    float: right;
    padding: 15px !important;
    cursor: pointer;
}

a {
    text-decoration: none;
}