/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    #portfolio #navbar {
        background-color: var(--portfolio-bg-color);
        border: var(--portfolio-border);
        color: var(--portfolio-text-color);
        font-family: var(--font-roboto);
        cursor: pointer;
    }

    #portfolio {
        height: 100vh;
        background-color: var(--portfolio-bg-color);
    }

    .linkContainer {
        background-color: var(--portfolio-bg-color);
        border: var(--portfolio-border);
        color: var(--portfolio-text-color);
        height: auto;
        font-family: var(--font-roboto);
        padding: 20px;
        width: auto;
    }
    
    .image {
        background-color: var(--portfolio-bg-color);
        border: var(--portfolio-border);
        display: inline-block;
        padding: 20px;
        margin: 10px 10px;
    }
    
    .codepen {
        background-color: var(--portfolio-bg-color);
        border: var(--portfolio-border);
        color: var(--portfolio-text-color);
        font-size: var(--medium-font);
        font-family: var(--font-roboto);
    }

}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 767px) {
    #portfolio #navbar {
        display:none;
    }
}