.aboutNav {
    background-color: var(--about-bg-color);
    border: var(--about-border);
    color: var(--about-text-color);
}

.contain {
    margin: 0;
    background-color: var(--about-bg-color);
    color: var(--about-text-color);
}

.large {
    font-size: 30px;
    padding: 0px !important;
}

.some-margin {
    font-size: 18px;
    margin: 20px 300px;
}

.about-link {
    font-size: 30px;
    padding: 0px !important;
}